{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('print')}}" method="POST">
            <h1>Choisir les commandes à imprimer</h1>
            <div class="row">
                <table>
                    <tr>
                        <th>Numéro</th>
                        <th>Date</th>
                        <th>Article</th>
                        <th>Prix TTC</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Imprimer</th>
                    </tr>
                        {% for command in commands %}
                            <tr>
                                <td>{{ command.number }}</td>
                                <td>{{ command.dateCommand }}</td>
                                <td>{{ command.article }}</td>
                                <td>{{ command.priceTTC }}</td>
                                <td>{{ command.name }}</td>
                                <td>{{ command.firstName }}</td>
                                <td>
                                    <input type="checkbox" name="chk_{{ command.id }}" id="chk_{{ command.id }}" checked="checked" autocomplete="off"/>
                                </td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <div class=row"">
                <button type="submit" class="btn btn-primary">Imprimer</button>
            </div>
        </form>
    </div>
{% endblock %}
