{% extends 'base.html.twig' %}

{% block title %}Choix des commandes{% endblock %}

{% block body %}
    <div class="container">
        <div id="information-block" class="jumbotron">
            <h1>Choisir les commandes à imprimer</h1>
            <p>Décochez les commandes que vous ne voulez pas envoyer à l'impression.</p>
            <p>Nombre de commandes: {{ commands|length }}</p>
        </div>
        <form action="{{ path('print')}}" method="POST">
            <div class="row" style="margin-bottom:10px;">
                <button type="submit" class="btn btn-primary">Imprimer</button>
            </div>
            <div class="row">
                <table class="table">
                    <tr>
                        <th>Imprimer</th>
                        <th>Numéro</th>
                        <th>Date</th>
                        <th>Article</th>
                        <th>Prix TTC</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                    </tr>
                        {% for command in commands %}
                            <tr>
                                <td class="text-center">
                                    <input type="checkbox" name="chk_{{ command.id }}" id="chk_{{ command.id }}" checked="checked" autocomplete="off"/>
                                </td>
                                <td>{{ command.number }}</td>
                                <td>{{ command.dateCommand }}</td>
                                <td>{{ command.article }}</td>
                                <td>{{ command.priceTTC }}</td>
                                <td>{{ command.name }}</td>
                                <td>{{ command.firstName }}</td>
                            </tr>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </form>
    </div>
{% endblock %}
